[submodule ".themes/slash"]
	path = .themes/slash
	url = git://github.com/tommy351/Octopress-Theme-Slash.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = git@github.com:shukydvir/foxslide.git
